{% extends 'base.html' %}

{% block beforehead %}
<style>
  .items{
    min-height: 400px;
  }
  .mdl-radio{
    min-width: 100%;
    margin: 10px;
  }
  .mdl-radio__label{
    margin-right: 20px;
  }
  .arrow{
    padding: 20px
  }
  .answer_text{
    font-size: medium;
  }
</style>


<script>
$(document).ready(function(){
  $("#show_answer").click(function(){
      $('#answer_box').toggle();
  });
});
</script>
{% endblock %}


{% block content %}
<div class="mdl-grid">
    <div class="items mdl-cell mdl-cell--12-col mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h5>第{{ page.page_index }}题  :  {{ item.answer_type }}</h5>
      </div>
      <div class="mdl-card__supporting-text">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ item.content }}
      </div>
      <div class="mdl-card__actions mdl-card--border mdl-card__supporting-text">
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" style="margin-bottom: 20px;max-width: 20%;float:left;">
          <input type="checkbox" class="mdl-switch__input" id="show_answer">
          <span class="mdl-switch__label">答案</span>
        </label>
        <span id="answer_box" style="max-width:50%;float:right;color:#ab47bc;display: none">
          正确答案：{{ item.answer }}
        </span>
        {% for answer in item.answer_list.split(',') %}
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-{{ loop.index }}">
          <input type="radio" id="option-{{ loop.index }}" class="mdl-radio__button" name="options" value="{{ answer }}">
          <span class="mdl-radio__label mdl-card__supporting-text">{{ answer }}</span>
        </label>
        {% endfor %}
      </div>
      <div class="arrow mdl-card__actions mdl-card--border">
        {% if page.has_previous %}
        <a class="mdl-button mdl-js-button" style="float:left;margin-bottom: 20px" href="/testing/{{ item.paper }}/{{ page.page_index - 1 }}">
          <i class="material-icons">keyboard_arrow_left</i>
          上一题
        </a>
        {% else %}
        <button class="mdl-button mdl-js-button" style="float:left;margin-bottom: 20px" disabled>
          <i class="material-icons">keyboard_arrow_left</i>
          上一题
        </button>
        {% endif %}
        {% if page.has_next %}
        <a class="mdl-button mdl-js-button" style="float:right;margin-bottom: 20px" href="/testing/{{ item.paper }}/{{ page.page_index + 1 }}">
          <i class="material-icons">keyboard_arrow_right</i>
          下一题
        </a>
        {% else %}
        <button class="mdl-button mdl-js-button" style="float:right;margin-bottom: 20px" disabled>
          <i class="material-icons">keyboard_arrow_right</i>
          下一题
        </button>
        {% endif %}
      </div>
      <div class="mdl-card__menu">
        <button id="demo-menu-lower-right"class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            for="demo-menu-lower-right">
          <li class="mdl-menu__item">Some Action</li>
          <li disabled class="mdl-menu__item">Disabled Action</li>
        </ul>
      </div>
    </div>
</div>
{% endblock %}