{% extends 'base.html' %}

{% block beforehead %}
<style>
  .paper_card{

  }
  .mdl-card__media > img {
    max-width: 100%;
    max-height: 100%;
  }
  .mdl-card__media{
    float: left;
    width: 230px;
    margin-right: 20px;
    padding: 10px;
  }
  .mdl-grid > paper_title{
    float: left;
    max-width: 50%;
  }
  .mdl-grid > paper_text{
    float: left;
    max-width: 80%;
  }

  .items{
    min-height: 300px;
  }
  .radio_lab{
    min-width: 100%;
    margin: 10px;
  }
  .radio__label{
    margin-right: 20px;
  }
  .arrow{
    padding: 20px
  }
</style>


<script>
    function initVM_papers(data) {
        var vm = new Vue({
            el: '#vm_testing',
            data: {
                state: data.state,
                items: data.state.items,
                item: [],
                index: 0,
                date:[{"time":"0"}]
            },
            computed: {
                 _answer_list: function () {
                    //var list = this.item.answer_list.split(',');
                    var list = []
                    if(this.item.answer_A) list.push('A.'+this.item.answer_A)
                    if(this.item.answer_B) list.push('B.'+this.item.answer_B)
                    if(this.item.answer_C) list.push('C.'+this.item.answer_C)
                    if(this.item.answer_D) list.push('D.'+this.item.answer_D)
                    return list
                 }
            },
            methods: {
                show_answer: function () {
                    $('#answer_box').toggle();
                },
                check_item: function (event) {
                    //add item to finish list
                    var finishs = this.state.finish_items;
                    finishs.push(this.item.id);
                    this.state.finish_items = $.unique(finishs);
                    //add true item to list
                    arr = event.target.value.split('.');
                    trues = this.state.true_items;
                    if(arr[0]==this.item.answer) trues.push(this.item.id)
                    this.state.true_items = $.unique(trues);
                },
                commit_paper: function () {
                    var data = {
                        state: this.state
                    };
                    if (confirm('是否提交答卷：“' + this.state.paper.name+'”')) {
                    postJSON('/api/testing/commit', data, function (err, r) {
                        if (err.data==200) {
                            location.assign('/');
                        }
                    });
                }
                },
                previous: function () {
                    if (this.index > 1) {
                        this.index -= 1;
                        this.item = this.items[this.index-1];
                    }else return;
                },
                next: function () {
                    var time = $.now()
                    if (this.index < this.items.length) {
                          (this.index==0) ? this.index+=2 : this.index+=1;
                          this.item = this.items[this.index-1];
                      }else return;
                  }
                },
                mounted: function () {
                  this.item=this.items[0];
                },
                created: function () {
                        var _this = this;
                        var n_sec = 0;var n_min = 0;var n_hour = 0;
                        setInterval(function () {
                            str_sec=n_sec;str_min=n_min;str_hour=n_hour;
                            if ( n_sec < 10) str_sec = "0" + n_sec;
                            if ( n_min < 10 ) str_min = "0" + n_min;
                            if ( n_hour < 10 ) str_hour = "0" + n_hour;
                            for (var i = 0; i < _this.date.length; i++) {
                                var time = str_hour + ":" + str_min + ":" + str_sec;
                                Vue.set(_this.date[i],'time',time);
                            }
                            n_sec++;
                            if (n_sec > 59){
                                n_sec = 0;
                                n_min++;
                            }
                            if (n_min > 59) {
                                n_min = 0;
                                n_hour++;
                            }
                        }, 1000)
                }
        });
    }
    $(function() {
        getJSON('/api/item/'+ '{{ paper.id }}', {
        }, function (err, results) {
            if (err) {
                return fatal(err);
            }
            initVM_papers(results);
        });
    });

</script>
{% endblock %}


{% block content %}
<div class="mdl-grid">
  <div class="items mdl-cell mdl-cell--12-col mdl-shadow--4dp" id="vm_testing">
    <div class="paper_card">
        <div class="mdl-card__media">
            {% if paper.cover %}
            <img src="{{ paper.cover }}">
            {% else %}
            <img src="/static/img/lab-flask-leaf.png">
            {% endif %}
        </div>
        <div class="paper_title mdl-card__title">
            <h2 class="mdl-card__title-text" v-text="state.paper.name"></h2>
        </div>
        <div class="paper_text mdl-card__subtitle-text">
            第<span v-text="item.index"></span>题&nbsp;&nbsp;
            已完成<span v-text="state.finish_items.length"></span>题&nbsp;&nbsp;
            共<span v-text="state.items.length"></span>题</br></br>
            已用时：<span v-for="l in date"><span v-text="l.time"></span></span></br></br>
        </div>
        <div class="paper_action mdl-card__subtitle-text">
            <button class="mdl-button mdl-js-button" v-on:click="show_answer">
                <i class="material-icons">playlist_add_check</i>显示答案
            </button>
            <button class="mdl-button mdl-js-button">
                <i class="material-icons">favorite_border</i>收藏此题
            </button>
            <button class="mdl-button mdl-js-button" v-on:click="commit_paper">
                <i class="material-icons">done_all</i>提交答卷
            </button>
        </div>
    </div>
    <div>
        <div class="mdl-card__title" style="min-width: 100%">
          <span v-text="item.index"></span>.&nbsp;&nbsp;
          <span v-text="item.answer_type"></span>&nbsp;&nbsp;&nbsp;&nbsp;
          已选：<span v-text="item.user_answer"></span>&nbsp;&nbsp;&nbsp;&nbsp;
          <span id="answer_box" style="min-width:30%;float:right;color:#ab47bc;display: none">
              正确答案：<span v-text="item.answer"></span>
          </span>
        </div>
        <div class="mdl-card__supporting-text">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span v-text="item.content"></span>
        </div>
        <div class="mdl-card__actions mdl-card--border mdl-card__supporting-text">
            <span v-for="(item, index) in _answer_list" v-on:click="check_item">
                <label class="radio_lab">
                    <input type="radio" name="gender"  v-bind:value="item" checked="false">
                    <span v-text="item" class="radio__label"></span> <br>
                </label>
            </span>

        </div>
    </div>
    <div class="arrow mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-js-button" style="float:left;margin-bottom: 20px" v-on:click="previous">
          <i class="material-icons">keyboard_arrow_left</i>
          上一题
        </button>
        <button class="mdl-button mdl-js-button" style="float:right;margin-bottom: 20px" v-on:click="next">
          <i class="material-icons">keyboard_arrow_right</i>
          下一题
        </button>
    </div>
  </div>
</div>
{% endblock %}

<!--
<label style="margin-bottom: 10px;min-width:70%;float:left;" >
            <button class="mdl-button mdl-js-button" v-on:click="show_answer">
                <i class="material-icons">visibility</i>
                答案
            </button>
        </label>
        <label id="answer_box" style="min-width:30%;float:right;color:#ab47bc;display: none">
            正确答案：<span  v-text="item.answer"></span></label>
        </label>
-->