{% extends 'base.html' %}

{% block beforehead %}
<style>
    .mdl-grid{
        max-width: 1000px;
        min-width: 800px;
    }
    .mdl-card__media > img {
	    max-width: 100%;
    }
    .mdl-card__media{
        float: left;
        width: 230px;
        margin-right: 20px;
    }
    .mdl-grid > mdl-card__title{
        float: left;
        max-width: 50%;
    }
    .mdl-grid > mdl-card__subtitle-text{
        float: left;
        max-width: 80%;
    }

</style>


<script>
    function initVM_papers(data) {
        var vm = new Vue({
            el: '#vm_papers',
            data: {
                papers: data.papers
            }
        });
    }
    $(function() {
        getJSON('/api/papers/'+ '{{ tag.id }}', {
        }, function (err, results) {
            if (err) {
                return fatal(err);
            }
            //$('#loading').hide();
            //console.log(results);
            initVM_papers(results);
        });
    });

</script>
{% endblock %}

{% block content %}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col ">
      <div class="mdl-card__media">
          {% if tag.cover %}
          <img src="{{ tag.cover }}">
          {% else %}
          <img src="/static/img/lab-flask-leaf.png">
          {% endif %}
          
      </div>
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{ tag.name }} </h2>
      </div>
      <div class="mdl-card__subtitle-text">
        {{ tag.brief }}
      </div>
    </div>

    <table class="mdl-data-table mdl-cell--12-col mdl-js-data-table mdl-shadow--2dp" id="vm_papers">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">试卷名称</th>
          <th>题数</th>
          <th>总分</th>
          <th>时间/min</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="paper in papers">
          <td class="mdl-data-table__cell--non-numeric"><a class="mdl-navigation__link" v-bind:href="'/testing/'+paper.id+'/1'" v-text="paper.name"></a></td>
          <td><a class="mdl-navigation__link" v-bind:href="'/testing/'+paper.id+'/1'" v-text="paper.munber"></a></td>
          <td><a class="mdl-navigation__link" v-bind:href="'/testing/'+paper.id+'/1'" v-text="paper.total"></a></td>
          <td><a class="mdl-navigation__link" v-bind:href="'/testing/'+paper.id+'/1'" v-text="paper.finish_time"></a></td>
        </tr>
      </tbody>
    </table>

</div>

{% endblock %}
