{% extends '__manage_layout__.html' %}

{% block beforehead %}
    <link rel="stylesheet" href="/static/css/vue-material.css">
    <script src="/static/js/vue-material.js"></script>
    <script src="/static/js/axios.min.js"></script>
{% endblock %}

{% block content %}
    <div class="mdl-grid demo-content" id="vm_papers">
        <div class="mdl-cell mdl-cell--12-col mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-grid">
                <md-button href="/manage/paper/create" class="md-primary">添加试卷</md-button>
            </div>
            <table class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table mdl-shadow--2dp">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">名称</th>
                  <th>标签</th>
                  <th>图片</th>
                  <th>题数</th>
                  <th>总分</th>
                  <th>时间</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in papers">
                  <td v-text="item.name" class="mdl-data-table__cell--non-numeric"></td>
                  <td v-text="item.tag"></td>
                  <td v-text="item.cover"></td>
                  <td v-text="item.munber"></td>
                  <td v-text="item.total"></td>
                  <td v-text="item.ctime"></td>
                  <td>
                      <button class="mdl-button mdl-js-button mdl-button--icon" @click="edit_paper(item)">
                          <i class="material-icons">edit</i>
                      </button>
                      <button class="mdl-button mdl-js-button mdl-button--icon" @click="delete_paper(item)">
                          <i class="material-icons">delete</i>
                      </button>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
<script>
Vue.use(VueMaterial)
var Vmpapers = new Vue({
    el: '#vm_papers',
    data:{
        papers: [],
        page:{}
    },
    created(){
        let self = this;
        axios.get('/api/papers')
              .then(function (response) {
                self.papers = response.data.papers
                self.page = response.data.page
              })
              .catch(function (error) {
                console.log(error);
        });
    },
    methods: {
        edit_paper:function (paper) {
            location.assign('/manage/paper/edit?id=' + paper.id);
        },
        delete_paper: function (paper) {
                if (confirm('确认要删除“' + paper.name + '”？删除后不可恢复！')) {
                    axios.post('/api/paper/' + paper.id + '/delete',{})
                    .then(function (response) {
                        refresh();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
        }
    }
});
 function init_data() {

        }

</script>

{% endblock %}